*
,*::before
,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
    /* font-size: 62.5%; */

}
.slider{
    padding-top: 10px;
}
.slider input{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
   background: transparent;
   cursor: pointer;
}
.slider input::-webkit-slider-runnable-track{
    background: var(--vb-violet);
    border-radius: 15px;
    height: 12px;
}

.slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 33px;
    width: 33px;
    background-color: var(--vb-yellow);
    border-radius: 50%;
    margin-top: -10px;
    transition: all 100ms;
}
/* .slider input:focus{
    outline: 3px solid var(--vb-yellow);

} */

.slider input::-webkit-slider-thumb:hover{
    background-color: black;
    box-shadow: 0 0 10px 6px var(--vb-yellow);
    outline: 2px solid var(--vb-yellow);
}

.wrapper{
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    max-width: 450px;
    width: 90%;
}
h1{
    text-transform: uppercase;
    color: var(--pl-white);
    opacity: 0.75;
    letter-spacing: 2px;
    padding-bottom: 0.35rem;
    text-align: center;
}

.display-container{
    position: relative;
    width: 100%;
    height: 75px; 
}
.display-container input{
    width: 100%;
    height: inherit;
    border-radius: 1rem;
    background-color: var(--dk-violet);
    color: var(--vb-yellow);
    font-size: 1.5rem;
    border-bottom:0.35rem solid var(--lt-violet2);
    padding-left: 1.5rem;
    padding-top: 0.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.display-container input::placeholder{
    color: var(--vb-yellow);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    opacity: 0.75;
}
.display-container button{
    position: absolute;
    right: 0;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}
.input-container{
    width: 100%;
    background-color: var(--dk-violet);
    color: white;
    border-bottom:0.35rem solid var(--lt-violet2);
    border-radius: 1rem;
    padding:1.75rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.pass-length-group{
    display: flex;
    justify-content: space-between;
}
.pass-length-group p{
    font-size: 1.5rem;
}
.pass-length-group p:last-child{
    color: var(--vb-yellow);
}



.strength-group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.strength-group p{
    font-size:1.50rem;
    text-transform: capitalize;
}
.strength-group div{
    width: 25px;
    height: 25px;   
    background-color: grey;
    border-radius: 50%;
    box-shadow: 0 0 10px;
}

.check div{
    display: flex;
    column-gap: 10px;
    align-items:center;
    margin: 1.25rem 0;
    gap: 0 1rem;
}
.check div input{
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    border-radius: 0.35rem;
    appearance: none;
}
.check div input:checked{
    background-color: aqua;
}
.check div input:checked::before{
    content:'✔';
    font-size: 1.25rem;
    font-weight: 600;
    position: relative;
    top: -5px;
}
.check div label{
    font-size: 1.25rem;
}
.generateButton{
    color: var(--vb-yellow);
    background: var(--vb-violet);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    padding:1rem 0;
    letter-spacing: 1px;
    cursor: pointer;
}
.tooltip{ 
   font-size: 1.25rem;
   position: absolute;
   color: var(--vb-yellow);
   background: var(--vb-violet2);
   border-radius: 15px;
   padding: 5px 10px;
   right: -25px;
   top: -35px;
   transform: scale(0);
   transform-origin: bottom;
   transition: transform 200ms ease-in-out;
}
.active{
    transform:scale(1);
}
.copy-btn{
    background: transparent;
    border: none;
}

